<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{f:uri.resource(path: 'resource://Suffle.Snapshot/Public/css/main.css')}" />
    </head>
    <body style="padding:0; background-color:#222;">
        <div
            id="snapshotRoot"

            data-login-endpoint="{f:uri.action(action: 'authenticate', controller: 'Login', package: 'Neos.Neos', format: 'json')}"

            data-overview-uri="{f:uri.action(action:'index', controller:'overview', package:'Suffle.Snapshot')}"
            data-current-site-package-key="{currentSitePackageKey}"

            data-snapshot-objects-endpoint="{f:uri.action(action:'snapshotObjects', controller:'api', package:'Suffle.Snapshot')}"
            data-snapshot-data-endpoint="{f:uri.action(action:'snapshotData', controller:'api', package:'Suffle.Snapshot')}"
            data-site-packages-endpoint="{f:uri.action(action:'sitePackages', controller:'api', package:'Suffle.Snapshot')}"
            ></div>
        <script src="{f:uri.resource(path: 'resource://Suffle.Snapshot/Public/js/main.js')}"></script>
    </body>
</html>
