body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
 *
 * Diff to HTML (diff2html.css)
 * Author: rtfpessoa
 *
 */

.d2h-wrapper {
  text-align: left;
}

.d2h-file-header {
  height: 35px;
  padding: 5px 10px;
  border-bottom: 1px solid #d8d8d8;
  background-color: #f7f7f7;
}

.d2h-file-stats {
  display: flex;
  margin-left: auto;
  font-size: 14px;
}

.d2h-lines-added {
  text-align: right;
  border: 1px solid #b4e2b4;
  border-radius: 5px 0 0 5px;
  color: #399839;
  padding: 2px;
  vertical-align: middle;
}

.d2h-lines-deleted {
  text-align: left;
  border: 1px solid #e9aeae;
  border-radius: 0 5px 5px 0;
  color: #c33;
  padding: 2px;
  vertical-align: middle;
  margin-left: 1px;
}

.d2h-file-name-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.d2h-file-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.d2h-file-wrapper {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1em;
}

.d2h-diff-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Menlo", "Consolas", monospace;
  font-size: 13px;
}

.d2h-diff-tbody > tr > td {
  height: 20px;
  line-height: 1;
}

.d2h-files-diff {
  display: block;
  width: 100%;
  height: 100%;
}

.d2h-file-diff {
  overflow-x: scroll;
  overflow-y: hidden;
}

.d2h-file-side-diff {
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 50%;
  margin-right: -4px;
  margin-bottom: -8px;
}

.d2h-code-line {
  display: inline-block;
  white-space: nowrap;
  padding: 0 10px;
}

.d2h-code-side-line {
  display: inline-block;
  white-space: nowrap;
  padding: 0 10px;
}

.d2h-code-line del,
.d2h-code-side-line del {
  display: inline-block;
  margin-top: -1px;
  text-decoration: none;
  background-color: #ffb6ba;
  border-radius: 0.2em;
}

.d2h-code-line ins,
.d2h-code-side-line ins {
  display: inline-block;
  margin-top: -1px;
  text-decoration: none;
  background-color: #97f295;
  border-radius: 0.2em;
  text-align: left;
}

.d2h-code-line-prefix {
  display: inline;
  background: none;
  padding: 0;
  word-wrap: normal;
  white-space: pre;
}

.d2h-code-line-ctn {
  display: inline;
  background: none;
  padding: 0;
  word-wrap: normal;
  white-space: pre;
}

.line-num1 {
  box-sizing: border-box;
  float: left;
  width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 3px;
}

.line-num2 {
  box-sizing: border-box;
  float: right;
  width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 3px;
}

.d2h-code-linenumber {
  box-sizing: border-box;
  width: 86px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
  border: solid #eeeeee;
  border-width: 0 1px 0 1px;
  cursor: pointer;
}

.d2h-code-side-linenumber {
  box-sizing: border-box;
  width: 56px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
  border: solid #eeeeee;
  border-width: 0 1px 0 1px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.d2h-code-side-emptyplaceholder,
.d2h-emptyplaceholder {
  background-color: #f1f1f1;
  border-color: #e1e1e1;
}

/*
 * Changes Highlight
 */

.d2h-del {
  background-color: #fee8e9;
  border-color: #e9aeae;
}

.d2h-ins {
  background-color: #dfd;
  border-color: #b4e2b4;
}

.d2h-info {
  background-color: #f8fafd;
  color: rgba(0, 0, 0, 0.3);
  border-color: #d5e4f2;
}

.d2h-file-diff .d2h-del.d2h-change {
  background-color: #fdf2d0;
}

.d2h-file-diff .d2h-ins.d2h-change {
  background-color: #ded;
}

/*
 * File Summary List
 */

.d2h-file-list-wrapper {
  margin-bottom: 10px;
}

.d2h-file-list-wrapper a {
  text-decoration: none;
  color: #3572b0;
}

.d2h-file-list-wrapper a:visited {
  color: #3572b0;
}

.d2h-file-list-header {
  text-align: left;
}

.d2h-file-list-title {
  font-weight: bold;
}

.d2h-file-list-line {
  display: flex;
  text-align: left;
}

.d2h-file-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.d2h-file-list > li {
  border-bottom: #ddd solid 1px;
  padding: 5px 10px;
  margin: 0;
}

.d2h-file-list > li:last-child {
  border-bottom: none;
}

.d2h-file-switch {
  display: none;
  font-size: 10px;
  cursor: pointer;
}

.d2h-icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}

.d2h-deleted {
  color: #c33;
}

.d2h-added {
  color: #399839;
}

.d2h-changed {
  color: #d0b44c;
}

.d2h-moved {
  color: #3572b0;
}

.d2h-tag {
  display: flex;
  font-size: 10px;
  margin-left: 5px;
  padding: 0 2px;
  background-color: #fff;
}

.d2h-deleted-tag {
  border: #c33 1px solid;
}

.d2h-added-tag {
  border: #399839 1px solid;
}

.d2h-changed-tag {
  border: #d0b44c 1px solid;
}

.d2h-moved-tag {
  border: #3572b0 1px solid;
}

/*
 * Selection util.
 */

.selecting-left .d2h-code-line,
.selecting-left .d2h-code-line *,
.selecting-right td.d2h-code-linenumber,
.selecting-right td.d2h-code-linenumber *,
.selecting-left .d2h-code-side-line,
.selecting-left .d2h-code-side-line *,
.selecting-right td.d2h-code-side-linenumber,
.selecting-right td.d2h-code-side-linenumber * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selecting-left .d2h-code-line::-moz-selection,
.selecting-left .d2h-code-line *::-moz-selection,
.selecting-right td.d2h-code-linenumber::-moz-selection,
.selecting-left .d2h-code-side-line::-moz-selection,
.selecting-left .d2h-code-side-line *::-moz-selection,
.selecting-right td.d2h-code-side-linenumber::-moz-selection,
.selecting-right td.d2h-code-side-linenumber *::-moz-selection {
  background: transparent;
}

.selecting-left .d2h-code-line::selection,
.selecting-left .d2h-code-line *::selection,
.selecting-right td.d2h-code-linenumber::selection,
.selecting-left .d2h-code-side-line::selection,
.selecting-left .d2h-code-side-line *::selection,
.selecting-right td.d2h-code-side-linenumber::selection,
.selecting-right td.d2h-code-side-linenumber *::selection {
  background: transparent;
}
._3HvfE5n2KiEGuZQ6hQ-spq {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    color: #FFF;
    margin: 0;
    padding: 0;
}

    ._3HvfE5n2KiEGuZQ6hQ-spq,
    ._3HvfE5n2KiEGuZQ6hQ-spq:before,
    ._3HvfE5n2KiEGuZQ6hQ-spq:after {
        box-sizing: border-box;
    }

    /* some browsers set a font-size or margin in their user stylesheets */

    ._3HvfE5n2KiEGuZQ6hQ-spq input {
        font-size: 14px;
        margin: 0;
    }

    ._3HvfE5n2KiEGuZQ6hQ-spq textarea {
        font-size: 14px;
        margin: 0;
    }

    ._3HvfE5n2KiEGuZQ6hQ-spq select {
        font-size: 14px;
        margin: 0;
    }

    ._3HvfE5n2KiEGuZQ6hQ-spq button {
        font-size: 14px;
        margin: 0;
    }

    ._3HvfE5n2KiEGuZQ6hQ-spq ul {
        padding: 0;
    }

    /* webkit adds some weird spacing otherwise */

    ._3HvfE5n2KiEGuZQ6hQ-spq li {
        display: block;
    }

    ._3HvfE5n2KiEGuZQ6hQ-spq input::-webkit-search-cancel-button {
        display: none;
    }

    /* webkit adds white box around search box */

    ._3HvfE5n2KiEGuZQ6hQ-spq input {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
    }

._2FP2_vsZcLobzY22yQ8dB1 {
    position: relative;
    display: inline-block;
    width: 100%;
}
._1-QlWlV8GOPQ_KB9750Hbh {
    display: block;
    width: 100%;
    height: 40px;
    text-align: left;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 0 16px;
    border: 0;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    background: #323232;
}
._1-QlWlV8GOPQ_KB9750Hbh:focus{
        outline: 1px solid #00ADEE;
    }
._2PIfJXvdDlH1320dvCfdw5 {
    padding-right: 40px;
}
._3G8iiE3K1wX911v0LBATlP {
    margin-right: .5em;
}
.A65_dN83WM3LaBjMcufrv {
    position: absolute;
    right: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
._1iyFZQzX95JNL4XegU6NOz {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    margin: 0;
    list-style: none;
    background: #323232;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}
._1PFm3UHWqRJAUoo3p1j53m {
    max-height: 80vh;
    overflow-y: auto;
}
._2nhGbUq8k7yMR5gqDHhQ9l {
    display: block;
}
._3-HFaOR7mzAmLfEWpFnbO6 > ._1GcZseTu3c3U7C_nW8NeHI {
        background-color: #222;
    }
._3-HFaOR7mzAmLfEWpFnbO6 > ._1iyFZQzX95JNL4XegU6NOz {
        background-color: #222;
    }
._3eJzKvmXh8-SaCHhx65HF9 > ._1iyFZQzX95JNL4XegU6NOz {
        padding: 16px;
    }

._3HvfE5n2KiEGuZQ6hQ-spq {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    color: #FFF;
    margin: 0;
    padding: 0;
}

    ._3HvfE5n2KiEGuZQ6hQ-spq,
    ._3HvfE5n2KiEGuZQ6hQ-spq:before,
    ._3HvfE5n2KiEGuZQ6hQ-spq:after {
        box-sizing: border-box;
    }

    /* some browsers set a font-size or margin in their user stylesheets */

    ._3HvfE5n2KiEGuZQ6hQ-spq input {
        font-size: 14px;
        margin: 0;
    }

    ._3HvfE5n2KiEGuZQ6hQ-spq textarea {
        font-size: 14px;
        margin: 0;
    }

    ._3HvfE5n2KiEGuZQ6hQ-spq select {
        font-size: 14px;
        margin: 0;
    }

    ._3HvfE5n2KiEGuZQ6hQ-spq button {
        font-size: 14px;
        margin: 0;
    }

    ._3HvfE5n2KiEGuZQ6hQ-spq ul {
        padding: 0;
    }

    /* webkit adds some weird spacing otherwise */

    ._3HvfE5n2KiEGuZQ6hQ-spq li {
        display: block;
    }

    ._3HvfE5n2KiEGuZQ6hQ-spq input::-webkit-search-cancel-button {
        display: none;
    }

    /* webkit adds white box around search box */

    ._3HvfE5n2KiEGuZQ6hQ-spq input {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
    }

.qDFBkVU60_7hHPIgpgIwP {
    padding: 0;
}

._3VM0nGfuUd-BpKX6MAnIfh {
    position: relative;
    display: inline-block;
    line-height: 0;
}

._3b3wn9g9uWIZBPTNaQEXmk {
    position: relative;
    display: inline-block;
    text-overflow: clip;
    height: auto;
    min-height: 40px;
    line-height: 40px;
    padding-left: 0;
    border: 0;
    background: #323232;
    min-width: 160px;
}

._10XWtL42YFPX3GiNG7o2gp {
    padding-right: 0;
}

.e113PcwsZNPLZnyFYIV7q {
    min-width: 160px;
    box-shadow: 0 5px 5px rgba(0,0,0, .2);
    z-index: 3;
    padding: 2px !important;
    margin-top: -2px;
}

._1oJChhyonbI4tFgYO_6JyG {
    border-top: 1px solid #222;
    background: #141414;
}

._1oJChhyonbI4tFgYO_6JyG div {
        padding: 5px 14px;
    }

._3tbmT-QN9eyQG65zf8Aq01 {
    background-color: #222;
    font-weight: bold;
    padding-left: 16px;
    line-height: 30px;
    text-transform: uppercase;
}

.GamuPjEtQjilcyZ7VoPV9 {
    -webkit-filter: opacity(50%);
            filter: opacity(50%);
    cursor: not-allowed;
}

._1x3vcBPt3Py1Lvj2vZMocl {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;

    /* subtract the size of padding */
    line-height: calc(40px - 10px);
    padding: 5px 16px;
}

.OzKvW8KVAj2mTb_zO-dec {
    color: #999;
    cursor: not-allowed;
}

._2w6EyDkUN8opE6k7ksP1P {
    background: #00ADEE;
}

._2w6EyDkUN8opE6k7ksP1P > span {
    color: #fff;
}

.GH4yk9lmH9jZYBthu8-cc {
    margin-right: .5em;
}

._1g4ECFG7d9lrxoUC6M4hBI {
    padding: 0 !important;
    width: 2em;
    display: inline-block;
    text-align: center;
}

svg:not(:root).neos-svg-inline--fa {
  overflow: visible; }

.neos-svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em; }
  .neos-svg-inline--fa.fa-lg {
    vertical-align: -.225em; }
  .neos-svg-inline--fa.fa-w-1 {
    width: 0.0625em; }
  .neos-svg-inline--fa.fa-w-2 {
    width: 0.125em; }
  .neos-svg-inline--fa.fa-w-3 {
    width: 0.1875em; }
  .neos-svg-inline--fa.fa-w-4 {
    width: 0.25em; }
  .neos-svg-inline--fa.fa-w-5 {
    width: 0.3125em; }
  .neos-svg-inline--fa.fa-w-6 {
    width: 0.375em; }
  .neos-svg-inline--fa.fa-w-7 {
    width: 0.4375em; }
  .neos-svg-inline--fa.fa-w-8 {
    width: 0.5em; }
  .neos-svg-inline--fa.fa-w-9 {
    width: 0.5625em; }
  .neos-svg-inline--fa.fa-w-10 {
    width: 0.625em; }
  .neos-svg-inline--fa.fa-w-11 {
    width: 0.6875em; }
  .neos-svg-inline--fa.fa-w-12 {
    width: 0.75em; }
  .neos-svg-inline--fa.fa-w-13 {
    width: 0.8125em; }
  .neos-svg-inline--fa.fa-w-14 {
    width: 0.875em; }
  .neos-svg-inline--fa.fa-w-15 {
    width: 0.9375em; }
  .neos-svg-inline--fa.fa-w-16 {
    width: 1em; }
  .neos-svg-inline--fa.fa-w-17 {
    width: 1.0625em; }
  .neos-svg-inline--fa.fa-w-18 {
    width: 1.125em; }
  .neos-svg-inline--fa.fa-w-19 {
    width: 1.1875em; }
  .neos-svg-inline--fa.fa-w-20 {
    width: 1.25em; }
  .neos-svg-inline--fa.fa-pull-left {
    margin-right: .3em;
    width: auto; }
  .neos-svg-inline--fa.fa-pull-right {
    margin-left: .3em;
    width: auto; }
  .neos-svg-inline--fa.fa-border {
    height: 1.5em; }
  .neos-svg-inline--fa.fa-li {
    width: 2em; }
  .neos-svg-inline--fa.fa-fw {
    width: 1.25em; }

.fa-layers svg.neos-svg-inline--fa {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0; }

.fa-layers {
  display: inline-block;
  height: 1em;
  position: relative;
  text-align: center;
  vertical-align: -.125em;
  width: 1em; }
  .fa-layers svg.neos-svg-inline--fa {
    -webkit-transform-origin: center center;
            transform-origin: center center; }

.fa-layers-text, .fa-layers-counter {
  display: inline-block;
  position: absolute;
  text-align: center; }

.fa-layers-text {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center; }

.fa-layers-counter {
  background-color: #ff253a;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  height: 1.5em;
  line-height: 1;
  max-width: 5em;
  min-width: 1.5em;
  overflow: hidden;
  padding: .25em;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right; }

.fa-layers-bottom-right {
  bottom: 0;
  right: 0;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right; }

.fa-layers-bottom-left {
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left; }

.fa-layers-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right; }

.fa-layers-top-left {
  left: 0;
  right: auto;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top left;
          transform-origin: top left; }

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -.0667em; }

.fa-xs {
  font-size: .75em; }

.fa-sm {
  font-size: .875em; }

.fa-1x {
  font-size: 1em; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-6x {
  font-size: 6em; }

.fa-7x {
  font-size: 7em; }

.fa-8x {
  font-size: 8em; }

.fa-9x {
  font-size: 9em; }

.fa-10x {
  font-size: 10em; }

.fa-fw {
  text-align: center;
  width: 1.25em; }

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit; }

.fa-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
          animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1); }

.fa-flip-both, .fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-flip-both {
  -webkit-filter: none;
          filter: none; }

.fa-stack {
  display: inline-block;
  height: 2em;
  position: relative;
  width: 2.5em; }

.fa-stack-1x,
.fa-stack-2x {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0; }

.neos-svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1.25em; }

.neos-svg-inline--fa.fa-stack-2x {
  height: 2em;
  width: 2.5em; }

.fa-inverse {
  color: #fff; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.KFonePkDA_NR1fc8t6NOA {
    display: inline-block;
    font: normal normal normal FontAwesome;
    font-size: 14px/1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
._1sgzpjXaP7r2s8aFHDgQ7Q {
    margin-left: .75em;
}
._3_Vs9X5dNyrZ75TTGRI5py {
    margin-right: .75em;
}
._2pXrixFuW8oUuwD3jiyQYP {
    color: #ff8700;
}
._10qRPR3MbOK8yPYB7YoaRn {
    color: #ff460d;
}
._2jCo8IW-OwXcat5AGxpmH4 {
    color: #00ADEE;
}

._2SEzYvBllUXlScRvyB_pjA {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

._3VGoZisr8k7fj2usfRxESU {
    overflow: hidden;
    width: 100%;
}

._1HZu5DN0qxn0w3kOKmbOWT {
    line-height: 40px;
    height: 100%;
}

.IFQL8l2ASeR3rv_oSiQsl {
    padding: 0 16px;
}

._2hH_IrQKVNEjHd6ihgh5Sp {
    padding: 0 16px;
}

._1cVkL4tl0iZVDh8bRLroIP {
    cursor: not-allowed;
}

.fb68_uMJfWh_6iiCQ_8Wd {
    position: relative;
    display: inline-block;
    height: 40px;
    min-width: 40px;
    padding: 0 16px;
    border: 0;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    width: auto;
    color: #FFF;
    cursor: pointer;
    background-color: #323232;
    font-size: 14px;
}

    .fb68_uMJfWh_6iiCQ_8Wd:focus {
        outline: 1px solid #00ADEE;
    }

    .fb68_uMJfWh_6iiCQ_8Wd[disabled] {
        opacity: .5;
        cursor: not-allowed;
    }

    .fb68_uMJfWh_6iiCQ_8Wd[disabled]:hover {
            color: #FFF;
        }

    .fb68_uMJfWh_6iiCQ_8Wd[disabled]._2mWyloAwLjvdX8YLL1DXtl {
            color: #FFF;
        }

    .fb68_uMJfWh_6iiCQ_8Wd[disabled]:hover i {
            color: #FFF;
        }

    .fb68_uMJfWh_6iiCQ_8Wd[disabled] i {
            color: #FFF;
        }
._2f67MOauMVap3zcB3mS5XF {
    height: 32px;
    font-size: 13px;
    padding: 0 8px;
}
._1lFTnf5SBQNJoGVc_TeRDd {
    background-color: #222;
}
._3Cu0h1Q3_85T55XN6hAO6n {
    background-color: #3f3f3f;
}
._3Cu0h1Q3_85T55XN6hAO6n i {
    background-color: #3f3f3f;
}
._1NfjKqYvGJf6k4LSoLKsWx {
    background: 0;
}
._1--fsW0xttbyoBYcVv5n-z {
    background-color: #00ADEE;
    color: white !important;
}
._1--fsW0xttbyoBYcVv5n-z i {
    background-color: #00ADEE;
    color: white !important;
}
.dG7Onbm4x9UtPhe37e1BJ {
    background-color: #ff8700;
}
.dG7Onbm4x9UtPhe37e1BJ i {
    background-color: #ff8700;
}
.NcDE42AuJqSD_eUOUnSeR {
    background-color: #00ADEE;
}
.NcDE42AuJqSD_eUOUnSeR svg {
        color: #FFF;
    }
._3kxFuY-PIw27VwTQClXyUo:hover:enabled {
    background-color: #00ADEE;
}
._3kxFuY-PIw27VwTQClXyUo:hover:enabled i {
    background-color: #00ADEE;
}
._3kxFuY-PIw27VwTQClXyUo._2mWyloAwLjvdX8YLL1DXtl {
    background-color: #00ADEE;
}
._3kxFuY-PIw27VwTQClXyUo._2mWyloAwLjvdX8YLL1DXtl i {
    background-color: #00ADEE;
}
._3jyl34oPmk_Hcji5OPilKj._2mWyloAwLjvdX8YLL1DXtl {
    color: #00ADEE;
}
._3jyl34oPmk_Hcji5OPilKj._2mWyloAwLjvdX8YLL1DXtl svg {
        color: var(--colors-PrimaryBlue);
    }
._3jyl34oPmk_Hcji5OPilKj._2mWyloAwLjvdX8YLL1DXtl i {
    color: #00ADEE;
}
._3jyl34oPmk_Hcji5OPilKj._2mWyloAwLjvdX8YLL1DXtl i svg {
        color: var(--colors-PrimaryBlue);
    }
._3jyl34oPmk_Hcji5OPilKj:hover:enabled {
    color: #00ADEE;
}
._3jyl34oPmk_Hcji5OPilKj:hover:enabled svg {
        color: var(--colors-PrimaryBlue);
    }
._3jyl34oPmk_Hcji5OPilKj:hover:enabled i {
    color: #00ADEE;
}
._3jyl34oPmk_Hcji5OPilKj:hover:enabled i svg {
        color: var(--colors-PrimaryBlue);
    }
.UVqOrEHxv_3LLPpSAaV9Z._2mWyloAwLjvdX8YLL1DXtl,
.UVqOrEHxv_3LLPpSAaV9Z._2mWyloAwLjvdX8YLL1DXtl i,
.UVqOrEHxv_3LLPpSAaV9Z:hover:enabled,
.UVqOrEHxv_3LLPpSAaV9Z:hover:enabled i {
    background-color: rgba(0, 0, 0, .1);
}
._1E420oWdEv2F1H_KbKMDmv._2mWyloAwLjvdX8YLL1DXtl {
    background-color: #ff8700;
}
._1E420oWdEv2F1H_KbKMDmv._2mWyloAwLjvdX8YLL1DXtl i {
    background-color: #ff8700;
}
._1E420oWdEv2F1H_KbKMDmv:hover:enabled {
    background-color: #ff8700;
}
._1E420oWdEv2F1H_KbKMDmv:hover:enabled i {
    background-color: #ff8700;
}

._2rMOuC8oOnKkJtZ22_DfVj {
    vertical-align: top;
    width: 40px;
    padding-left: 0;
    padding-right: 0;
}

._3ngRIfwLOa9s9gM-7Ul0ou {
    opacity: .65;
    cursor: not-allowed;
}

._2h4pFCdB5HGd07SBtqy9cu {
    width: 32px !important;
    min-width: 32px !important;
}

._1mTV6a1v0c389CEfmHC6tt {
    max-width: 250px;
}
._3yFN41kQslDnJZlfuzGrHZ {
    position: absolute;
    width: 320px;
    height: 100%;
    background: #222;
}
._1FpauTpOAgY481jn2sLb8_ {
    left: 0;
}
._1qwj1pFEg4_csp5PnbQRm7 {
    right: 0;
}

._1BqGR821dPW-mZGAxmhZTl {
    /* TODO: should eventually be moved to reset.css, but there maybe be plenty of side-effects */
    font-size: 14px;
    width: 100%;
    height: 40px;
    padding: 0 14px;
    border: 0;
    border-radius: 2px;
    background: #323232;
    color: white;
}

    ._1BqGR821dPW-mZGAxmhZTl:focus {
        outline: 0;
        background: #FFF;
        color: #141414;
    }
._1BqGR821dPW-mZGAxmhZTl::-webkit-input-placeholder {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    color: #999;
}
._2lq-osLEWa42XNdkqFF7PV {
    opacity: .65;
    cursor: not-allowed;
}

._1fCKgYc8-M7LmC55GXkaeR {
    -webkit-flex-grow: 1;
            flex-grow: 1;
}

    ._1fCKgYc8-M7LmC55GXkaeR input {
        /* magic number, sorry */
        padding-left: 40px;
        border-radius: 0;
    }

.NV58gJDnWJ2SsTwz4H9hT {
    background: #323232;
}

._3kNOCfa-r_6AEfGDNZ2UJ6 {
    background: white;
}

._3kNOCfa-r_6AEfGDNZ2UJ6 svg {
        color: #3f3f3f
    }

._2mW_ERNUo1BmyGy732AfcR {
    display: -webkit-flex;
    display: flex;
    border-right: 1px solid #3f3f3f;
    position: relative;
}

._3bu4RsOas7EPRwfDM_KgQI {
    position: absolute;
    left: 16px;
    height: 40px;
}

._1kmZ5p3flNjC4FqnqIAkYz {
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;

    /* subtract the size of padding */
    line-height: calc(40px - 10px);
    padding: 5px 16px;
    border-top: 1px solid #555;
}

    ._1kmZ5p3flNjC4FqnqIAkYz:first-child {
        border-top: none;
    }

    ._1kmZ5p3flNjC4FqnqIAkYz:hover {
        outline: none;
        background-color: #00ADEE;
    }

    ._1kmZ5p3flNjC4FqnqIAkYz:focus {
        outline: none;
        background-color: #00ADEE;
    }

.A-K_4LBBEEJ0Ld1E4YIza {
    background: #00ADEE;
    cursor: default;
}

.A-K_4LBBEEJ0Ld1E4YIza:hover {
        background: #00ADEE;
    }

.A-K_4LBBEEJ0Ld1E4YIza:focus {
        background: #00ADEE;
    }

._20GKwWdA-ns0Lw9K14KGtV {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
            flex-direction: row;
}
._3SgRO3GJqKhdboWEwUcpmM {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    padding: 0 16px;
}

._2MdIH7qpdFmPI9ApNtX3eb {
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-grow: 0;
            flex-grow: 0;
}

._3nC1KfjQ-m2SoFMB2hdrx- {
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-grow: 0;
            flex-grow: 0;
}
._3aDzkRL72qhOU8393rEhNC {
    position: relative;
}

._2ZkgUHENrFFdqV3Nlx8Oo0 {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #00a338
}

._3BNXTirsdzCYAIEt9cOcQP {
    background: #ff460d
}
._1q1o85Tz8jrWxVDZkwwBz9 {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    padding: 0 16px;
}

._1IpNndAPxfMWn8rHM0y4xj {
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-grow: 0;
            flex-grow: 0;
}
._2AL2Kf51ea5j5Ac-4XAmbD {
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    position: relative;
    top: 1px;
    border-bottom: 1px solid transparent;

    /* subtract the size of padding */
    padding: 16px;

    color: #adadad;
}

._1vDd7b6F2oKPj21c6q74v6 {
    color: #FFF;
    border: 1px solid #999;
    border-bottom-color: #222;
}

._3jXRTFzWPshWsu57Ppl1uH {
    color: inherit;
    font-size: 18px;
}
._3gwjYPPZmhSbb_zZpJaepy {
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid #999;;
}
._1pcHEkEC_pN9QIvHYrn-Zx {
    background-color: #fff;
}
.uKCbIhgfVCT2igbnfKXg7 {
    color: #fff;
}

._3q3LW67bP-ncjU-UXGGu72 {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
}

._1LmzC5zgjDqa4i9tQ2qwKW {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

._1C2M2EQmusz7YM7X3n8tOQ {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: none;
}
._2ktfpV-5WFBzfQIxc36W_k {
    background-color: #fff;
}

._2wo_T-79HCfM3vs5-r_jEk {
    color: #fff;
    margin-top: 0;
}
.bEE-heSr-XBTm6dDOQBpH {
    display: -webkit-flex;
    display: flex;
}
.QMsQg78StdqYEUu4aUts_ {
    position: relative;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    max-height: 100%;
    overflow-y: auto;
}
._23YY6_yFdeLDk9oQKOomgY {
    -webkit-flex: 1 1;
            flex: 1 1;
    min-width: 0;
}
._28dF3ZbSC6WhrfQQtfZctN {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    height: 100vh;
}

._3_lTmgG1L6TgWjBvFWAWKr {
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-grow: 0;
            flex-grow: 0;
}

._2PH4w3h0wYbJPN9ZSIzLw6 {
    -webkit-flex: 1 1;
            flex: 1 1;
}
.scRORpwUVDkRbejdCwmcm {
  text-align: center;
}

._1qkjNQ_jC4cerkxfN-qcs0 {
  -webkit-animation: _2aBGKRJSFkASbIy1c93OyZ infinite 20s linear;
          animation: _2aBGKRJSFkASbIy1c93OyZ infinite 20s linear;
  height: 40vmin;
}

._3kKXeKMFv-qWM7pCPMgJRa {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

._2G7PsrdCqxYLPNaPq8VylW {
  color: #61dafb;
}

@-webkit-keyframes _2aBGKRJSFkASbIy1c93OyZ {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes _2aBGKRJSFkASbIy1c93OyZ {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


/*# sourceMappingURL=main.css.map*/